nav {

  background-color: black;
  padding: 0 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  list-style-type: none;
  margin-bottom: 0px;

}

nav li {
  padding: 24px;
}

nav a {
  color: rgb(255, 255, 255);
  padding: 10px;
  text-decoration: none;

}

#contrainerslika {

  height: 300px;
  background-image: url(../img/kampus-iz-zraka-min-1.jpg);
  background-position: center;

}

#center {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

#nasevrijednosti {
  text-align: center;
  font-size: 34px;
}


hr {
  width: 70%;
  border-top: 5px solid rgb(247, 111, 0);
  margin-left: auto;
  margin-right: auto;
  opacity: 100%;
}

#navIconBlue {
  color: rgb(79, 146, 236);
}

#navIconOrange {
  color: orange;
}

#videoBackground {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
  transform: translateY(100px);
}


.overlay {
  padding-top: 350px;
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 1;

}

#textType {
  color: white;
  font-size: 54px;
  text-align: center;
  text-shadow:2 ;
}

#textType2 {
  color: rgb(255, 0, 0);
  font-size: 54px;
  text-align: justify;
  font-weight: bolder;
  text-shadow: 2px;
}

.newsPictures
{
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 50%;
  border: inset;
  border-style: double;
  border-width: 20px;
  border-color: gainsboro;
}

footer
{
  background-image: url(img/zaiskri-bg.jpg);
  height: 400px;
  background-repeat: round;
}

#footer1
{
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: whitesmoke;
}

#footer2
{
  padding-top: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: darkred;
}

#nvtekst
{
  padding-left: 350px;
  padding-right: 350px;
}

#sponsorimg
{
  display: flex;
  justify-content: center;
}


div div img
{
  height: 80px;
}

#sponsor
{
  width: 80%;
  margin: auto;
}

#kakodonas
{
  padding-left: 300px;
  padding-right: 300px;
}

#kakodonasbg
{
  background-image: url(img/kakoDoNas.jpg);
}

#rowonama
{
  padding: 20px;
}

#rowonama>div>div
{
  text-align: justify;
  height: 400px;
  padding: 15px;
}

#rowonama>div>div>hr
{
  width: 100%;
  border-top: 1px solid gray;

}

